---
const { title } = Astro.props;
const borderColor = "#000";
---

<h1 class="border">{title}</h1>

<style define:vars={{ borderColor }}>
  .red {
    color: red;
  }

  .border {
    border: 1px solid var(--borderColor);
  }

  h1 {
    color: green;
  }
</style>
