---
import Layout from "../layouts/layout.astro";
import Title from "../components/astro/Title.astro";
---

<Layout pageTitle="About">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum error porro
    at assumenda nostrum eaque beatae veniam, laborum, quidem obcaecati eveniet
    repudiandae sint. Esse harum eligendi tenetur, dolor nostrum excepturi!
  </p>
</Layout>
