---
import Title from "../components/astro/Title.astro";
import Layout from "../layouts/layout.astro";
const title = "Hola mundo";
const list = ["primer valor", "segundo", "tercero"];
const condition = true;
---

<Layout pageTitle="Home">
  {condition ? <Title title={title} /> : "No hay title"}
  <ul>
    {list.map((item) => <li>{item}</li>)}
  </ul>
  <button id="my-btn">Click me!</button>
</Layout>

<script>
  const buttonElement = document.querySelector("#my-btn");
  buttonElement.addEventListener("click", () => {
    console.log("hi!");
  });
</script>
